<html>
    <head>
        <title>Virtual Bulletin Board</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div id="navigation">
            <a href="/index">Home</a>
            <a href="/projects">Projects</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>