{% extends "base.html" %}

{% block content %}
<form method="POST"  class="decor>
      
  <div class="form-left-decoration"></div>
  <div class="form-right-decoration"></div>
  <div class="circle"></div>

  <div class="form-inner">  
  <input type="text" name="name" placeholder="Name"/>
  <br><input type="text" name="description" placeholder="Description"/>
  <br><input type="text" name="link" placeholder="Link"/>
  <br><button>Go</button>
</form>  
  </div>
  </div>
  </div>
    <div id="posts">
        {% for post in posts %}
          <div class="post"><p>{{ post.name }} : <b>{{ post.description }}</b><br/>
          {{ post.link }}   </p></div>
        {% endfor %}   
     </div>        
{% endblock %}